<?xml version="1.0" encoding="UTF-8"?>
<!--
 * 系统名       智能交通WebService服务
 * 描述         Web应用程序配置文件
 * @Author    Tony Lin
 * 版本号       Version 1.0
 * 更新履历     2011-01-25：创建
-->
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <!-- 应用在分布式Web容器中部署  -->
  <distributable/>

	<!-- 智能交通WebService -->
    <display-name>ITSWS</display-name>
    
<!-- START SNIPPET: xfire -->
    <context-param>
	    <param-name>webAppRootKey</param-name>
	    <param-value>itsws.root</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext*.xml /WEB-INF/dataAccessContext.xml 
        classpath:org/codehaus/xfire/spring/xfire.xml</param-value>
    </context-param>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.properties</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>xfire</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>xfire</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
<!-- END SNIPPET: xfire -->
  
</web-app>
